@page "/Home"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization


<PageTitle>Home</PageTitle>

<AuthorizeView>
	<Authorized>
		<h1>Bienvenido @context.User.Identity!.Name</h1>
	</Authorized>
</AuthorizeView>

Esta es una aplicación para el control de tareas.
